environment: local
debug: true
web_app_url: "http://localhost:3000"
web_app_redirect_url: "/"
web_app_error_redirect_path: "/auth/unhandled"
registry:
  dns_address: localhost
  version: master
  fqdn: localhost
  jwt_signing_secret: super-secret
  host: 0.0.0.0
  port: 5000
  tls:
    key: openregistry.key
    cert: openregistry.cert
  services:
    - github
    - token
    - skynet_homescreen
oauth:
  github:
    client_id: dummy-gh-client-id
    client_secret: dummy-gh-client-secret

dfs:
  s3_any:
    access_key: <access-key>
    secret_key: <access-secret-key>
    endpoint: <s3-compatible-api-endpoint>
    bucket_name: openregistry-ipfs
skynet:
  portal_url: https://skynetpro.net
  api_key: skynet-key
  custom_cookie: skynet_cookie_hack
database:
  kind: postgres
  host: 0.0.0.0
  port: 5432
  username: postgres
  password: Qwerty@123
  name: open_registry
log_service:
  name: grafana-loki
  endpoint: http://0.0.0.0:9880/app.log
  auth_method: basic_auth
  username: grafana-username
  password: grafana-password
email:
  enabled: true
  api_key: <sendgrid-api-key>
  send_as: admin@openregistry.dev
  verify_template_id: <verify_template_id>
  welcome_template_id: <welcome_template_id>
  forgot_password_template_id: <forgot_password_template_id>
