environment: local
debug: true
web_app:
  endpoints: 
    - "http://localhost:3000"
  error_redirect_path: "/auth/unhandled"
  redirect_url: "http://localhost:3000/repositories"
  callback_url: "/api/oauth/callback"
registry:
  dns_address: localhost
  version: master
  fqdn: localhost
  jwt_signing_secret: super-secret
  host: 0.0.0.0
  port: 5000
  tls:
    enabled: false
    priv_key: .certs/registry.local
    pub_key: .certs/registry.local.crt
    services:
      - github
      - token
      - skynet_homescreen
oauth:
  github:
    client_id: dummy-gh-client-id
    client_secret: dummy-gh-client-secret
dfs:
  filebase:
    enabled: false
    type: "s3"
    access_key: <access-key>
    secret_key: <access-secret-key>
    endpoint: <s3-compatible-api-endpoint>
    bucket_name: <s3-bucket-name>
    dfs_link_resolver: <optional-dfs-link-resolver-url>
  storj:
    enabled: false
    type: "s3"
    access_key: <access-key>
    secret_key: <access-secret-key>
    bucket_name: <s3-bucket-name>
    link_share_service: https://link.storjshare.io
    endpoint: https://gateway.storjshare.io
    dfs_link_resolver: https://gateway.storjshare.io
database:
  kind: postgres
  host: 0.0.0.0
  port: 5432
  username: postgres
  password: Qwerty@123
  name: open_registry
web_authn_config:
  rp_display_name: <relaying_party_name>
  rp_id: localhost
  rp_origins:
    - http://localhost:3000
  rp_icon: <icon_link>
