[INPUT]
    name http
    host 0.0.0.0
    port 9880

[OUTPUT]
    name stdout
    match *

[OUTPUT]
    name loki
    match *
    line_format json
    host logs-prod-us-central1.grafana.net
    port 443
    tls.verify on
    tls on
    http_user <grafana-cloud-user-id>
    http_passwd <grafana-cloud-password/token>
